.card {
    border-radius: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.info {
    background-color:hsl(235, 46%, 20%);
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    bottom: 1.4rem;
}

.card :not(.image, img):hover {
    background-color:hsl(235, 45%, 61%);
    cursor:pointer;
}

.info div h3{
    font-size: 15px;
    font-weight: 500;
    margin-left: 1rem;
}

.time--schedule-hours {
    font-size: 35px;
    font-weight:50;
    text-align: left;
    margin-left: 1rem;
}

.info h4 {
    font-size: 12px;
    font-weight:100;
    margin-left: 1rem;
    align-content: center;
    opacity: 80%;
}

.info div {
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.info div img {
    height:100%;
    margin-top: 1.5rem;
    padding-right: 1rem;
}

.image {
    height:4rem;
    border-radius: 1rem;
}

.image  img {
    float: right;
    margin-right: 1rem;
    margin-bottom: -5rem;
}

.Work {
    background-color: hsl(15, 100%, 70%);
}

.Play {
    background-color: hsl(195, 74%, 62%);
}

.Study {
    background-color: hsl(348, 100%, 68%);
}

.Exercise {
    background-color: hsl(145, 58%, 55%);
}

.Social {
    background-color: hsl(264, 64%, 52%);
}

.Self {
    background-color: hsl(43, 84%, 65%);
}

@media (min-width: 480px) {
    .info h4 {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    .info{
        width: 17rem;
        text-align: start;
    }

    .card {
        margin:0;
    }
    .time--schedule {
        flex-direction: column;
    }

    .time--schedule-hours{
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .info--activity {
        margin-bottom: 0;
    }
}